template/ftp2hbase.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>015c1001-f63e-182f-571e-cd4ff1c1fce2</groupId>
  <name>ftp2hbase</name>
  <snippet>
    <connections>
      <id>015c1000-f63e-182f-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>3c9d198d-1051-115c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>015c1000-21f3-182c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015c1001-21f3-182c-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>015c1000-21f3-182c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>383b99dc-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015c1002-21f3-182c-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>3c9d198d-104d-115c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>383b99db-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>015c1003-21f3-182c-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>383b99dc-015c-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>3c9d198d-104d-115c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>11991099-1ca0-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>11991097-1ca0-198d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>11991096-1ca0-198d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1199109a-1ca0-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>3c9d198d-104d-115c-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>11991097-1ca0-198d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>1199109c-1ca0-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>1199109b-1ca0-198d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>015c1001-f63e-182f-0000-000000000000</groupId>
        <id>11991096-1ca0-198d-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>015c1058-3c9d-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>
            <name>Hadoop Configuration Files</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
          <value>
            <name>Kerberos Principal</name>
          </value>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
          <value>
            <name>Kerberos Keytab</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>
            <name>ZooKeeper Quorum</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>
            <name>ZooKeeper Client Port</name>
          </value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
          <value>
            <name>ZooKeeper ZNode Parent</name>
          </value>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>
            <name>HBase Client Retries</name>
          </value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
          <value>
            <name>Phoenix Client JAR Location</name>
          </value>
        </entry>
      </descriptors>
      <name>HBase80</name>
      <properties>
        <entry>
          <key>Hadoop Configuration Files</key>
          <value>/home/nifi/hbase-conf/core-site.xml,/home/nifi/hbase-conf/hbase-site.xml</value>
        </entry>
        <entry>
          <key>Kerberos Principal</key>
        </entry>
        <entry>
          <key>Kerberos Keytab</key>
        </entry>
        <entry>
          <key>ZooKeeper Quorum</key>
          <value>172.16.50.83</value>
        </entry>
        <entry>
          <key>ZooKeeper Client Port</key>
          <value>2181</value>
        </entry>
        <entry>
          <key>ZooKeeper ZNode Parent</key>
        </entry>
        <entry>
          <key>HBase Client Retries</key>
          <value>1</value>
        </entry>
        <entry>
          <key>Phoenix Client JAR Location</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.hbase.HBase_1_1_2_ClientService</type>
    </controllerServices>
    <processors>
      <id>015c1000-21f3-182c-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>6.389411015824862</x>
        <y>565.5004419421693</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JsonPath Expression</key>
            <value>$.rows</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitJson</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
    <processors>
      <id>11991096-1ca0-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>635.9476500753713</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Remote Path</key>
            <value>
              <name>Remote Path</name>
            </value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
              <name>Distributed Cache Service</name>
            </value>
          </entry>
          <entry>
            <key>Search Recursively</key>
            <value>
              <name>Search Recursively</name>
            </value>
          </entry>
          <entry>
            <key>File Filter Regex</key>
            <value>
              <name>File Filter Regex</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter Regex</key>
            <value>
              <name>Path Filter Regex</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Dotted Files</key>
            <value>
              <name>Ignore Dotted Files</name>
            </value>
          </entry>
          <entry>
            <key>Remote Poll Batch Size</key>
            <value>
              <name>Remote Poll Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Connection Mode</key>
            <value>
              <name>Connection Mode</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Mode</key>
            <value>
              <name>Transfer Mode</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Type</key>
            <value>
              <name>Proxy Type</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Http Proxy Username</key>
            <value>
              <name>Http Proxy Username</name>
            </value>
          </entry>
          <entry>
            <key>Http Proxy Password</key>
            <value>
              <name>Http Proxy Password</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hostname</key>
            <value>172.16.50.22</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>21</value>
          </entry>
          <entry>
            <key>Username</key>
            <value>fc</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Remote Path</key>
            <value>.</value>
          </entry>
          <entry>
            <key>Distributed Cache Service</key>
          </entry>
          <entry>
            <key>Search Recursively</key>
            <value>false</value>
          </entry>
          <entry>
            <key>File Filter Regex</key>
          </entry>
          <entry>
            <key>Path Filter Regex</key>
          </entry>
          <entry>
            <key>Ignore Dotted Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Remote Poll Batch Size</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Connection Mode</key>
            <value>Passive</value>
          </entry>
          <entry>
            <key>Transfer Mode</key>
            <value>Binary</value>
          </entry>
          <entry>
            <key>Proxy Type</key>
            <value>DIRECT</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Http Proxy Username</key>
          </entry>
          <entry>
            <key>Http Proxy Password</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ListFTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ListFTP</type>
    </processors>
    <processors>
      <id>11991097-1ca0-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>698.6472668725478</x>
        <y>259.5042087884598</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Remote File</key>
            <value>
              <name>Remote File</name>
            </value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>
              <name>Completion Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
            <value>
              <name>Move Destination Directory</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Use Compression</key>
            <value>
              <name>Use Compression</name>
            </value>
          </entry>
          <entry>
            <key>Connection Mode</key>
            <value>
              <name>Connection Mode</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Mode</key>
            <value>
              <name>Transfer Mode</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Type</key>
            <value>
              <name>Proxy Type</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Http Proxy Username</key>
            <value>
              <name>Http Proxy Username</name>
            </value>
          </entry>
          <entry>
            <key>Http Proxy Password</key>
            <value>
              <name>Http Proxy Password</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hostname</key>
            <value>172.16.50.22</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>21</value>
          </entry>
          <entry>
            <key>Username</key>
            <value>fc</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Remote File</key>
            <value>${path}/${filename}</value>
          </entry>
          <entry>
            <key>Completion Strategy</key>
            <value>None</value>
          </entry>
          <entry>
            <key>Move Destination Directory</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Use Compression</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Connection Mode</key>
            <value>Passive</value>
          </entry>
          <entry>
            <key>Transfer Mode</key>
            <value>Binary</value>
          </entry>
          <entry>
            <key>Proxy Type</key>
            <value>DIRECT</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Http Proxy Username</key>
          </entry>
          <entry>
            <key>Http Proxy Password</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>FetchFTP</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>comms.failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>not.found</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>permission.denied</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.FetchFTP</type>
    </processors>
    <processors>
      <id>1199109b-1ca0-198d-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>1106.140800160067</x>
        <y>260.4755441171151</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>MY_PROPERTY</key>
            <value>
              <name>MY_PROPERTY</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>MY_PROPERTY</key>
            <value>ftp</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>MyProcessor</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>MY_RELATIONSHIP</name>
      </relationships>
      <style></style>
      <type>com.chinacloud.processors.demo.MyProcessor</type>
    </processors>
    <processors>
      <id>383b99db-015c-1000-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.28694579754539973</y>
      </position>
      <config>
        <bulletinLevel>INFO</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Mode</key>
            <value>
              <name>Connection Mode</name>
            </value>
          </entry>
          <entry>
            <key>Transfer Mode</key>
            <value>
              <name>Transfer Mode</name>
            </value>
          </entry>
          <entry>
            <key>Remote Path</key>
            <value>
              <name>Remote Path</name>
            </value>
          </entry>
          <entry>
            <key>File Filter Regex</key>
            <value>
              <name>File Filter Regex</name>
            </value>
          </entry>
          <entry>
            <key>Path Filter Regex</key>
            <value>
              <name>Path Filter Regex</name>
            </value>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>
              <name>Polling Interval</name>
            </value>
          </entry>
          <entry>
            <key>Search Recursively</key>
            <value>
              <name>Search Recursively</name>
            </value>
          </entry>
          <entry>
            <key>Ignore Dotted Files</key>
            <value>
              <name>Ignore Dotted Files</name>
            </value>
          </entry>
          <entry>
            <key>Delete Original</key>
            <value>
              <name>Delete Original</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Max Selects</key>
            <value>
              <name>Max Selects</name>
            </value>
          </entry>
          <entry>
            <key>Remote Poll Batch Size</key>
            <value>
              <name>Remote Poll Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Use Natural Ordering</key>
            <value>
              <name>Use Natural Ordering</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Type</key>
            <value>
              <name>Proxy Type</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>Http Proxy Username</key>
            <value>
              <name>Http Proxy Username</name>
            </value>
          </entry>
          <entry>
            <key>Http Proxy Password</key>
            <value>
              <name>Http Proxy Password</name>
            </value>
          </entry>
          <entry>
            <key>Last Time</key>
            <value>
              <name>Last Time</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hostname</key>
            <value>172.16.50.22</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>21</value>
          </entry>
          <entry>
            <key>Username</key>
            <value>fc</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Mode</key>
            <value>Passive</value>
          </entry>
          <entry>
            <key>Transfer Mode</key>
            <value>Binary</value>
          </entry>
          <entry>
            <key>Remote Path</key>
          </entry>
          <entry>
            <key>File Filter Regex</key>
          </entry>
          <entry>
            <key>Path Filter Regex</key>
          </entry>
          <entry>
            <key>Polling Interval</key>
            <value>6 sec</value>
          </entry>
          <entry>
            <key>Search Recursively</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Ignore Dotted Files</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Delete Original</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Max Selects</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Remote Poll Batch Size</key>
            <value>5000</value>
          </entry>
          <entry>
            <key>Use Natural Ordering</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Proxy Type</key>
            <value>DIRECT</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>Http Proxy Username</key>
          </entry>
          <entry>
            <key>Http Proxy Password</key>
          </entry>
          <entry>
            <key>Last Time</key>
            <value>1495749120000</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetFTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetFTP</type>
    </processors>
    <processors>
      <id>383b99dc-015c-1000-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>4.889564447704743</x>
        <y>370.4556920025742</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Packaging Format</key>
            <value>
              <name>Packaging Format</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Packaging Format</key>
            <value>zip</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>.*</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UnpackContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.UnpackContent</type>
    </processors>
    <processors>
      <id>3c9d198d-104d-115c-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>10.726234369579743</x>
        <y>180.6327359173692</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Packaging Format</key>
            <value>
              <name>Packaging Format</name>
            </value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>
              <name>File Filter</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Packaging Format</key>
            <value>zip</value>
          </entry>
          <entry>
            <key>File Filter</key>
            <value>.*</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>UnpackContent</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.UnpackContent</type>
    </processors>
    <processors>
      <id>3c9d198d-1051-115c-0000-000000000000</id>
      <parentGroupId>015c1001-f63e-182f-0000-000000000000</parentGroupId>
      <position>
        <x>7.514154471410166</x>
        <y>755.7224496441123</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HBase Client Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.hbase.HBaseClientService</identifiesControllerService>
              <name>HBase Client Service</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier</key>
            <value>
              <name>Row Identifier</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>
              <name>Row Identifier Field Name</name>
            </value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>
              <name>Row Identifier Encoding Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>
              <name>Column Family</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>
              <name>Complex Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>
              <name>Field Encoding Strategy</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HBase Client Service</key>
            <value>015c1058-3c9d-198d-0000-000000000000</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>yangfeiran_nifi_1</value>
          </entry>
          <entry>
            <key>Row Identifier</key>
          </entry>
          <entry>
            <key>Row Identifier Field Name</key>
            <value>f_id</value>
          </entry>
          <entry>
            <key>Row Identifier Encoding Strategy</key>
            <value>String</value>
          </entry>
          <entry>
            <key>Column Family</key>
            <value>cf</value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>25</value>
          </entry>
          <entry>
            <key>Complex Field Strategy</key>
            <value>Text</value>
          </entry>
          <entry>
            <key>Field Encoding Strategy</key>
            <value>String</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutHBaseJSON</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.hbase.PutHBaseJSON</type>
    </processors>
  </snippet>
  <timestamp>07/19/2017 10:10:15 CST</timestamp>
</template>