template/highwayissuedetail.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>bfe13843-015d-1000-03c1-68fd3bf0e4a1</groupId>
  <name>highwayissuedetail</name>
  <snippet>
    <connections>
      <id>8cba195f-73b7-34ed-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>0f4d89ed-5e6f-3fde-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>sql</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>c02d91e5-3f39-388f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>a6be6437-3e50-3036-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>9bcb27fa-59ec-3550-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>87e98d67-98bf-3ee7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>bcdd9dc9-0c6a-3678-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>301e87bc-030c-3b79-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>sql</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>73a3e375-bac4-3ebb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>caee8c71-7a5a-3a9d-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>c02d91e5-3f39-388f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>9bcb27fa-59ec-3550-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e9a13d87-54df-3f66-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>87e98d67-98bf-3ee7-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>sql</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>73a3e375-bac4-3ebb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0bb3ce78-df48-3479-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>73a3e375-bac4-3ebb-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>1e53e7dc-cc41-3232-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>363d19b1-a991-387a-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>1e53e7dc-cc41-3232-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>38851847-6ed8-395c-0000-000000000000</groupId>
        <id>c99b6212-69ff-3e4b-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>27853630-ec2a-3940-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <bundle>
        <artifact>nifi-dbcp-service-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Database Connection URL</key>
          <value>
            <name>Database Connection URL</name>
          </value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>
            <name>Database Driver Class Name</name>
          </value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>
            <name>database-driver-locations</name>
          </value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>
            <name>Database User</name>
          </value>
        </entry>
        <entry>
          <key>Password</key>
          <value>
            <name>Password</name>
          </value>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>
            <name>Max Wait Time</name>
          </value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>
            <name>Max Total Connections</name>
          </value>
        </entry>
        <entry>
          <key>Validation-query</key>
          <value>
            <name>Validation-query</name>
          </value>
        </entry>
      </descriptors>
      <name>DBCPConnectionPool</name>
      <persistsState>false</persistsState>
      <properties>
        <entry>
          <key>Database Connection URL</key>
          <value>jdbc:mysql://192.168.254.245:3306/chuangao?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true</value>
        </entry>
        <entry>
          <key>Database Driver Class Name</key>
          <value>com.mysql.jdbc.Driver</value>
        </entry>
        <entry>
          <key>database-driver-locations</key>
          <value>/root/yangfeiran/nifi-1.3.0/lib/mysql-connector-java-5.1.30.jar</value>
        </entry>
        <entry>
          <key>Database User</key>
          <value>root</value>
        </entry>
        <entry>
          <key>Password</key>
        </entry>
        <entry>
          <key>Max Wait Time</key>
          <value>500 millis</value>
        </entry>
        <entry>
          <key>Max Total Connections</key>
          <value>8</value>
        </entry>
        <entry>
          <key>Validation-query</key>
        </entry>
      </properties>
      <state>ENABLED</state>
      <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
    </controllerServices>
    <processors>
      <id>87e98d67-98bf-3ee7-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>471.9298366222265</x>
        <y>509.10851651877454</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>ERROR</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>
              <name>Filename</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
            <value>
              <name>Accept Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>
              <name>redirect-cookie-policy</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://tp-restapi.amap.com/gate?sid=60002&amp;reqData={"province":"510000","eventId":"${sql.args.5.value}","insertTime":"${sql.args.8.value}","type":1}&amp;serviceKey=5463C4C83002F66F1859812811CF5F4F&amp;resType=json&amp;encode=utf-8</value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>datas</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>false</value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>default</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>1 min</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHTTP</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetHTTP</type>
    </processors>
    <processors>
      <id>9bcb27fa-59ec-3550-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>474.6164844700627</x>
        <y>349.4318184596855</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JsonPath Expression</key>
            <value>$.data.rows</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitJson</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
    <processors>
      <id>c02d91e5-3f39-388f-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>470.9299625963481</x>
        <y>185.1085205078125</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>
              <name>Statement Type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Catalog Name</key>
            <value>
              <name>Catalog Name</name>
            </value>
          </entry>
          <entry>
            <key>Schema Name</key>
            <value>
              <name>Schema Name</name>
            </value>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>
              <name>Translate Field Names</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>
              <name>Unmatched Field Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>
              <name>Unmatched Column Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Update Keys</key>
            <value>
              <name>Update Keys</name>
            </value>
          </entry>
          <entry>
            <key>jts-quoted-identifiers</key>
            <value>
              <name>jts-quoted-identifiers</name>
            </value>
          </entry>
          <entry>
            <key>jts-quoted-table-identifiers</key>
            <value>
              <name>jts-quoted-table-identifiers</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>27853630-ec2a-3940-0000-000000000000</value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>INSERT</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>highwayissuedetail</value>
          </entry>
          <entry>
            <key>Catalog Name</key>
          </entry>
          <entry>
            <key>Schema Name</key>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>Ignore Unmatched Fields</value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>Fail on Unmatched Columns</value>
          </entry>
          <entry>
            <key>Update Keys</key>
          </entry>
          <entry>
            <key>jts-quoted-identifiers</key>
            <value>false</value>
          </entry>
          <entry>
            <key>jts-quoted-table-identifiers</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertJSONToSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>sql</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
    </processors>
    <processors>
      <id>c99b6212-69ff-3e4b-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>14.929836622226503</x>
        <y>0.10851651877453605</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>
              <name>Filename</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
            <value>
              <name>Accept Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>
              <name>redirect-cookie-policy</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>http://tp-restapi.amap.com/gate?sid=60004&amp;reqData={"province":"510000","orderType":1}&amp;serviceKey=5463C4C83002F66F1859812811CF5F4F&amp;resType=json&amp;encode=utf-8</value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>datas</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>false</value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>default</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>2 min</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHTTP</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetHTTP</type>
    </processors>
    <processors>
      <id>0f4d89ed-5e6f-3fde-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>474.38876386587935</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>DEBUG</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>
              <name>Support Fragmented Transactions</name>
            </value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
            <value>
              <name>Transaction Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>
              <name>Obtain Generated Keys</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>27853630-ec2a-3940-0000-000000000000</value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>false</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutSQL</type>
    </processors>
    <processors>
      <id>1e53e7dc-cc41-3232-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>11.616484470062687</x>
        <y>181.43181845968547</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JsonPath Expression</key>
            <value>$.data.rows</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitJson</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
    <processors>
      <id>301e87bc-030c-3b79-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>553.0</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>DEBUG</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>
              <name>Support Fragmented Transactions</name>
            </value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
            <value>
              <name>Transaction Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>
              <name>Batch Size</name>
            </value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>
              <name>Obtain Generated Keys</name>
            </value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>
              <name>rollback-on-failure</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>27853630-ec2a-3940-0000-000000000000</value>
          </entry>
          <entry>
            <key>Support Fragmented Transactions</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Transaction Timeout</key>
          </entry>
          <entry>
            <key>Batch Size</key>
            <value>100</value>
          </entry>
          <entry>
            <key>Obtain Generated Keys</key>
            <value>false</value>
          </entry>
          <entry>
            <key>rollback-on-failure</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.PutSQL</type>
    </processors>
    <processors>
      <id>73a3e375-bac4-3ebb-0000-000000000000</id>
      <parentGroupId>38851847-6ed8-395c-0000-000000000000</parentGroupId>
      <position>
        <x>2.929962596348105</x>
        <y>361.1085205078125</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>
              <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
              <name>JDBC Connection Pool</name>
            </value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>
              <name>Statement Type</name>
            </value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>
              <name>Table Name</name>
            </value>
          </entry>
          <entry>
            <key>Catalog Name</key>
            <value>
              <name>Catalog Name</name>
            </value>
          </entry>
          <entry>
            <key>Schema Name</key>
            <value>
              <name>Schema Name</name>
            </value>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>
              <name>Translate Field Names</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>
              <name>Unmatched Field Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>
              <name>Unmatched Column Behavior</name>
            </value>
          </entry>
          <entry>
            <key>Update Keys</key>
            <value>
              <name>Update Keys</name>
            </value>
          </entry>
          <entry>
            <key>jts-quoted-identifiers</key>
            <value>
              <name>jts-quoted-identifiers</name>
            </value>
          </entry>
          <entry>
            <key>jts-quoted-table-identifiers</key>
            <value>
              <name>jts-quoted-table-identifiers</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>JDBC Connection Pool</key>
            <value>27853630-ec2a-3940-0000-000000000000</value>
          </entry>
          <entry>
            <key>Statement Type</key>
            <value>INSERT</value>
          </entry>
          <entry>
            <key>Table Name</key>
            <value>highwayissuelist</value>
          </entry>
          <entry>
            <key>Catalog Name</key>
          </entry>
          <entry>
            <key>Schema Name</key>
          </entry>
          <entry>
            <key>Translate Field Names</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Unmatched Field Behavior</key>
            <value>Ignore Unmatched Fields</value>
          </entry>
          <entry>
            <key>Unmatched Column Behavior</key>
            <value>Fail on Unmatched Columns</value>
          </entry>
          <entry>
            <key>Update Keys</key>
          </entry>
          <entry>
            <key>jts-quoted-identifiers</key>
            <value>false</value>
          </entry>
          <entry>
            <key>jts-quoted-table-identifiers</key>
            <value>false</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ConvertJSONToSQL</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>sql</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
    </processors>
  </snippet>
  <timestamp>08/11/2017 14:09:54 CST</timestamp>
</template>